alembic==0.9.6
asn1crypto==0.22.0
click==6.7
cryptography==1.9
django-bootstrap3==9.1.0
dominate==2.3.1
enum34==1.1.6
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
idna==2.5
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==10.4.0
